<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975080397264-0gint7n1mb95ldkggt9dota2knmferjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975080397264-0gint7n1mb95ldkggt9dota2knmferjj</string>
	<key>API_KEY</key>
	<string>AIzaSyAoC3BN9IQX5ZUWrtKx6hI6bkyTXLZteeE</string>
	<key>GCM_SENDER_ID</key>
	<string>975080397264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.education</string>
	<key>PROJECT_ID</key>
	<string>education-for-everyone-2f874</string>
	<key>STORAGE_BUCKET</key>
	<string>education-for-everyone-2f874.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975080397264:ios:b99fd1588d3b6e1ae2c1d5</string>
</dict>
</plist>